nav {color: black; display:flex; justify-content: left;}
nav a {
  padding: .3em .5em; border-radius: .25em;
  margin: 0em .5em;
}
nav a:first-child{
  margin-left: -.5rem;
}
nav a:link, nav a:visited {font-weight: bold; }
nav a[aria-current=page] {
  position: relative;
  color: black;
}

nav a[aria-current=page]::after{
  content:"";
  height: .3em;
  position: absolute;
  top:100%;
  left:.5em;
  right:.5em;
  margin-top: .3em;
  background: $color_current_page_indicator;
}

nav a:focus,
nav a:hover {
  background: $color_focus_bg;
  color: $color_focus_fg;
    text-decoration: none;
}
