$background_header_gradient: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 1em);
$background_footer_gradient: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 1em);

$background_color_header_and_footer: rgb(186,186,186);

$header_and_footer_border_style: 0px solid #888;
$max_content_width: 50rem;
$color_current_page_indicator: darkorange;
$color_focus_fg:gold;
$color_focus_bg:#444;
